<div>
  <div class="top">123</div>
  <div class="daohang">
    <div class="chengkai">
      
    </div>
    <div class="kePublic">
      <div class="nav">
        <ul>
          <li class="nav_cut"><a class="nav_a">&nbsp;&nbsp;&nbsp;首&nbsp;页</a></li>
          <li><a class="nav_a">经典案例</a></li>
          <li><a class="nav_a">精品套系</a></li>
          <li><a class="nav_a">活动专区</a></li>
          <li><a class="nav_a">关于我们</a></li>
          <li><a class="nav_a">婚礼知识</a></li>
          <li><a class="nav_a">联系我们</a></li>
        </ul>
        <a class="logo"><img alt="17素材网页特效" src="images/hunsha/haiyan.png" width="166" height="150" /></a>
      </div>
    </div>
  </div>
  <div class="hsppt">
    <div my-carousel class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li my-carousel class="active" data-slide-to="0"></li>
        <li my-carousel data-slide-to="1"></li>
        <li my-carousel data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="img-responsive" src="../images/hunsha/kuxuan6.jpg" style="width: 100%; height: 600px;" />
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img class="img-responsive" src="../images/hunsha/PPT1.jpg" style="width: 100%; height: 600px;" />
          <div class="carousel-caption"></div>
        </div>
        <div class="item">
          <img class="img-responsive" src="../images/hunsha/PPT2.jpg" style="width: 100%; height: 600px;" />
          <div class="carousel-caption"></div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="zhanshi1">
    <div class="zhanshi1_font">
      <span class="h2">展示</h2>
      </div>
    </div>
    <div class="zhanshi2">
      <div class="zhanshil">
        <div class="navMenubox">
          <div id="slimtest1">
            <div class="navMenu-top">
              <div class="logo1"></div>
            </div>
            <ul class="navMenu">
              <li class=""><a href="#!/route/page/hunsha/index" class="afinve"><div class="meigui"><img src="/images/hunsha/meigui.png" width="30" height="30"></div><span>作品展示</span></a> </li>
              <li> <a href="javascript:;" class="afinve"><div class="meigui"><img src="/images/hunsha/meigui.png" width="30" height="30"></div><span class="">女装展示</span> <span class="arrow"></span> </a>
              <ul class="sub-menu">
                <li><a href="#!/route/page/hunsha/guzhuangnv"><span>古装</span></a></li>
                <li><a href="#!/route/page/hunsha/jianyue"><span>简约婚纱</span></a></li>
                <li><a href="#!/route/page/hunsha/dianya"><span>典雅婚纱</span></a></li>
                <li><a href="#!/route/page/hunsha/meishi"><span>美式婚纱</span></a></li>
              </ul>
            </li>
            <li > <a href="javascript:;" class="afinve"> <div class="meigui"><img src="/images/hunsha/meigui.png" width="30" height="30"></div> <span class="nav-text">男装展示</span> <span class="arrow"></span> </a>
            <ul class="sub-menu">
              <li><a href="#!/route/page/hunsha/guzhuang"><span>古装</span></a></li>
              <li><a href="#!/route/page/hunsha/yanwei"><span>燕尾服</span></a></li>
              <li><a href="#!/route/page/hunsha/oushi"><span>欧式西装</span></a></li>
              <li><a href="#!/route/page/hunsha/dianyaxz"><span>典雅西装</span></a></li>
            </ul>
          </li>
          <li > <a href="javascript:;" class="afinve"> <div class="meigui"><img src="/images/hunsha/meigui.png" width="30" height="30"></div> <span class="nav-text">礼服展示</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
            <li><a href="#!/route/page/hunsha/qipao"  class="afinve"><span>旗袍</span></a></li>
            <li><a href="#!/route/page/hunsha/banniang"><span>伴娘礼服</span></a></li>
            <li><a href="#!/route/page/hunsha/caise"><span>彩色礼服</span></a></li>
            <li><a href="#!/route/page/hunsha/duan"><span>短款礼服</span></a></li>
          </ul>
        </li>
        <li > <a href="javascript:;" class="afinve"> <div class="meigui"><img src="/images/hunsha/meigui.png" width="30" height="30"></div> <span class="nav-text">其他展示</span> <span class="arrow"></span> </a>
        <ul class="sub-menu">
          <li><a href="#!/route/page/hunsha/baobao"  class="afinve"><span>宝宝照</span></a></li>
          <li><a href="#!/route/page/hunsha/yishu"><span>艺术照</span></a></li>
          <li><a href="#!/route/page/hunsha/lianxi"><span>联系方式</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</div>
<div class="zhanshir">
<h2 class="content-title">作品展示</h2>
<!-- <div class="content-four">
  <ul class="contentbox-four"> -->
    <div class="zhanshi_diyipai">
      <div class="yipai_yz">
        <li class="con-four">
          <img src="images/hunsha/zhanshi1.jpg"/>
          <div class="txt-four">
            <h3>图片一</h3>
            <p>1</p>
          </div>
        </li>
      </div>
      <div class="yipai_erz">
        <li class="con-four">
          <img src="images/hunsha/zhanshi2.jpg"/>
          <div class="txt-four">
            <h3>图片二</h3>
            <p>2</p>
          </div>
        </li>
      </div>
      <div class="yipai_sz">
        <li class="con-four">
          <img src="images/hunsha/zhanshi3.jpg"/>
          <div class="txt-four">
            <h3>图片三</h3>
            <p>3</p>
          </div>
        </li>
      </div>
    </div>
    <div class="zhanshi_diyipai">
      <div class="yipai_yz">
        <li class="con-four">
          <img src="images/hunsha/zhanshi4.jpg"/>
          <div class="txt-four">
            <h3>图片四</h3>
            <p>4</p>
          </div>
        </li>
      </div>
      <div class="yipai_erz">
        <li class="con-four">
          <img src="images/hunsha/zhanshi5.jpg"/>
          <div class="txt-four">
            <h3>图片五</h3>
            <p>5</p>
          </div>
        </li>
      </div>
      <div class="yipai_sz">
        <li class="con-four">
          <img src="images/hunsha/zhanshi6.jpg"/>
          <div class="txt-four">
            <h3>图片六</h3>
            <p>6</p>
          </div>
        </li>
      </div>
    </div>
    <!-- <li class="con-four">
      <img src="images/hunsha/zhanshi1.jpg"/>
      <div class="txt-four">
        <h3>图片一</h3>
        <p>1</p>
      </div>
    </li> -->
    <!-- <li class="con-four">
      <img src="images/hunsha/zhanshi2.jpg"/>
      <div class="txt-four">
        <h3>图片二</h3>
        <p>2</p>
      </div>
    </li> -->
    <!-- <li class="con-four">
      <img src="images/hunsha/zhanshi3.jpg"/>
      <div class="txt-four">
        <h3>图片三</h3>
        <p>3</p>
      </div>
    </li> -->
    <!-- <li class="con-four">
      <img src="images/hunsha/zhanshi4.jpg"/>
      <div class="txt-four">
        <h3>图片四</h3>
        <p>4</p>
      </div>
    </li> -->
    <!-- <li class="con-four">
      <img src="images/hunsha/zhanshi5.jpg"/>
      <div class="txt-four">
        <h3>图片五</h3>
        <p>5</p>
      </div>
    </li>
    <li class="con-four">
      <img src="images/hunsha/zhanshi6.jpg"/>
      <div class="txt-four">
        <h3>图片六</h3>
        <p>6</p>
      </div>
    </li> -->
    <!-- </ul> -->
  </div>
</div>
</div>
<!-- <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="js/jquery.slimscroll.min.js"></script> -->
<script>
$(function(){
var flag=0
for(i=0; i<$(".nav li").size(); i++){
if($(".nav li").eq(i).attr("class")=="nav_cut"){
flag=i;
}
}
$(".nav").addClass("nav"+flag);
//导航效果
$(".nav li:not('.nav_cut')").hover(function(){
$(".nav").removeClass("nav0 nav1 nav2 nav3 nav4 nav5 nav6");
$(".nav").addClass("nav"+$(this).index());
$(this).addClass("nav_hover");
$(".nav_cut .nav_a").css("color","#ffffff");
},function(){
$(".nav").removeClass("nav0 nav1 nav2 nav3 nav4 nav5 nav6");
$(this).removeClass("nav_hover");
$(".nav").addClass("nav"+flag);
$(".nav_cut .nav_a").css("color","#2d2d2d");
});
})
$(function(){
// nav收缩展开
$('.navMenu li a').on('click',function(){
var parent = $(this).parent().parent();//获取当前页签的父级的父级
var labeul =$(this).parent("li").find(">ul")
if ($(this).parent().hasClass('open') == false) {
//展开未展开
parent.find('ul').slideUp(300);
parent.find("li").removeClass("open")
parent.find('li a').removeClass("active").find(".arrow").removeClass("open")
$(this).parent("li").addClass("open").find(labeul).slideDown(300);
$(this).addClass("active").find(".arrow").addClass("open")
}else{
$(this).parent("li").removeClass("open").find(labeul).slideUp(300);
if($(this).parent().find("ul").length>0){
$(this).removeClass("active").find(".arrow").removeClass("open")
}else{
$(this).addClass("active")
}
}
});
});
$(function(){
//从底部上升的遮罩效果开始
$(".con").hover(function(){
$(this).find(".txt").stop().animate({height:"198px"},200);
$(this).find(".txt h3").stop().animate({paddingTop:"60px"},200);
},function(){
$(this).find(".txt").stop().animate({height:"45px"},200);
$(this).find(".txt h3").stop().animate({paddingTop:"0px"},200);
})
//从底部上升的遮罩效果结束
//直接显示遮罩效果开始
$(".con-two").hover(function(){
$(this).find(".txt-two").css("display","block");
},function(){
$(this).find(".txt-two").css("display","none");
})
//直接显示遮罩效果结束
//从左上部显示遮罩效果 开始
$(".con-three").hover(function() {
$(this).find(".txt-three").stop().animate({"left": 0,"top":0});
}, function() {
$(this).find(".txt-three").stop().animate({"left":-390,"top":-198});
})
//从左上部显示遮罩效果 结束
//从左侧显示遮罩效果 开始
$(".con-four").hover(function() {
$(this).find(".txt-four").stop().animate({"left": 0});
}, function() {
$(this).find(".txt-four").stop().animate({"left":-390});
})
//从左侧显示遮罩效果 结束
//图片放大效果 开始
$(".con-five").hover(function() {
$(this).find(".conimg").stop().animate({"width":310,"height":210});
}, function() {
$(this).find(".conimg").stop().animate({"width":297,"height":198});
})
//图片放大效果 结束
//图片放大效果伴随蒙版文字出现 开始
$(".con-six").hover(function() {
$(this).find(".conimg-two").stop().animate({"width":310,"height":210});
$(this).find(".txt-six").css("display","block");
}, function() {
$(this).find(".conimg-two").stop().animate({"width":297,"height":198});
$(this).find(".txt-six").css("display","none");
})
//图片放大效果伴随蒙版文字出现 结束
});
</script>
<div class="beijing">
</div>
<div class="zhanshi1">
<div class="zhanshi1_font">
  <span class="h2">展示</h2>
  </div>
</div>
<div class="xp">
  <div class="xpl">
    <div class="xiangpian1">
      <div class="diyizhang">
        <div class="albums-tab">
          <div class="albums-tab-thumb sim-anim-5">
            <img src="images/hunsha/kuxuan4.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan1.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan5.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan3.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan2.jpg" class="all studio"/>
          </div>
          <div class="albums-tab-text">.sim-anim-5 <span>(5 pictures)</span></div>
        </div>
      </div>
      <div class="dierzhang">
        <div class="albums-tab">
          <div class="albums-tab-thumb sim-anim-6">
            <img src="images/hunsha/kuxuan1.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan2.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan3.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan4.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan5.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan10.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan7.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan8.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan9.jpg" class="all studio"/>
          </div>
          <div class="albums-tab-text">.sim-anim-6 <span>(9 pictures)</span></div>
        </div>
      </div>
    </div>
    <div class="xiangpian2">
      <div class="disanzhang">
        <div class="albums-tab">
          <div class="albums-tab-thumb sim-anim-9">
            <img src="images/hunsha/kuxuan5.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan9.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan3.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan4.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan1.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan10.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan2.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan8.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan7.jpg" class="all studio"/>
          </div>
          <div class="albums-tab-text">.sim-anim-9 <span>(9 pictures)</span></div>
        </div>
      </div>
      <div class="disizhang">
        <div class="albums-tab">
          <div class="albums-tab-thumb sim-anim-8">
            <img src="images/hunsha/kuxuan10.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan2.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan9.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan4.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan5.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan1.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan7.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan8.jpg" class="all studio"/>
            <img src="images/hunsha/kuxuan3.jpg" class="all studio"/>
          </div>
          <div class="albums-tab-text">.sim-anim-8 <span>(9 pictures)</span></div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="xpr">
    
  </div>
</div>
<div class="gekai">
</div>
<div class="gekai">
</div>
<div class="zhanshi1">
  <div class="zhanshi1_font">
    <span class="h2">团队</h2>
    </div>
  </div>
  <div class="ryceng">
    <div class="ryceng_kuang">
      <div my-carousel class="carousel slide" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
          <li data-target="#my-carousel" class="active" data-slide-to="0"></li>
          <li data-target="#my-carousel" data-slide-to="1"></li>
          <li data-target="#my-carousel" data-slide-to="2"></li>
        </ol> -->
        <!-- <div class="xiangqian"><h1 id="hprev">&lt;</h1></div>
        <div class="xianghou"><h1 id="hnext">&gt;</h1></div> -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="img_style" src="../images/hunsha/kuxuan6.jpg"/ style="height: 300px">
            <img  src="../images/hunsha/kuxuan6.jpg" style="height: 300px"/>
            <img  src="../images/hunsha/kuxuan6.jpg" style="height: 300px"/>
            <!-- <div class="carousel-caption"></div> -->
          </div>
          <div class="item">
            <img class="img-responsive" src="../images/hunsha/kuxuan6.jpg" style="height: 300px"/>
            <img class="img-responsive" src="../images/hunsha/kuxuan6.jpg" style="height: 300px"/>
            <img class="img-responsive" src="../images/hunsha/kuxuan6.jpg" style="height: 300px"/>
            <!-- <div class="carousel-caption"></div> -->
          </div>
          <div class="item">
            <img src="../images/hunsha/kuxuan6.jpg" style="height: 300px"/>
            <img src="../images/hunsha/kuxuan6.jpg" style="height: 300px"/>
            <img src="../images/hunsha/kuxuan6.jpg" style="height: 300px"/>
            <!-- <div class="carousel-caption"></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--       <div class="gekai">
  </div>
  <div class="gekai">
  </div> -->
  <div class="zhanshi1">
    <div class="zhanshi1_font">
      <span class="h2">资讯</h2>
      </div>
    </div>
    <div class="zixun">
      <div class="zixun_info">
        <div class="zixun_infol">
          <img src="/images/hunsha/zixun.jpg" >
          <div class="zixun_zhuyi"><a href="javascript:;"><span>婚礼注意事项</span></a></div>
          <div class="zixun_wenzi">
            <span class="h4">
              哀伤地暗示低矮手机覅圣诞节覅守规矩过几个按时打阿萨德按时打算的
            </span>
          </div>
          <div class="gengduo">
            <a href="">查看更多</a>
          </div>
        </div>
        <div class="zixun_infor">
          <div class="zixun_infor_1">
            <span style="font-size: 6.0em; color:#fc0909;">1</span><a href="javascript:;" style="margin-left: 30px;"><span>套餐资讯</span></a>
          </div>
          <div class="zixun_infor_1">
            <span style="font-size: 6.0em; color:#fc0909;">2</span><a href="javascript:;" ><span>拍摄地点资讯</span></a>
          </div>
          <div  class="zixun_infor_2">
            <span style="font-size: 6.0em; color:#fc0909;">3</span><a href="javascript:;" ><span>婚礼摄影资讯</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lianxi">
    <div class="lianxil">
      <div class="diyipai">
      <ul>
        <li style="font-size: 2em;">关于我们</li>
        <li>asd</li>
        <li>asd</li>
        <li>asd</li>
        <li>asd</li>
      </ul>
      <ul>
        <li style="font-size: 2em;">资历</li>
        <li>asd</li>
        <li>asd</li>
        <li>asd</li>
        <li>asd</li>
      </ul>
      <ul>
        <li style="font-size: 2em;">地理位置</li>
        <li>asd</li>
        <li>asd</li>
        <li>asd</li>
        <li>asd</li>
      </ul>
      <ul>
        <li style="font-size: 2em;">婚纱照拍摄</li>
        <li>asd</li>
        <li>asd</li>
        <li>asd</li>
        <li>asd</li>
      </ul>
    </div>
    </div>
    <div class="lianxir">
      <div class="lianxir_infol">
        <img src="/images/hunsha/renyuan.png" width="40" height="40">
        <img src="/images/hunsha/dianhua.png" width="40" height="40">
        <img src="/images/hunsha/youxiang.png" width="40" height="40">
        <img src="/images/hunsha/dizhi.png" width="40" height="40">
      </div>
      <div class="lianxir_infor">
        <div style="margin-top: 66px;"><span class="lianxi_info_lx">联系人：匡某某</span></div>
        <div style="margin-top: 24px;"><span class="lianxi_info_lx">联系电话：138****1783</span></div>
        <div style="margin-top: 25px;"><span class="lianxi_info_lx">邮箱：haiyanhunsha@qq.com</span></div>
        <div style="margin-top: 20px;"><span class="lianxi_info_lx">地址：暗示大师大师的机会</span></div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- <div class="container-fluid">
<div class="row">
  <div class="col-xs-4 text-right">
    <h1 id="hprev">&lt;</h1>
  </div>
  <div class="col-xs-4">
    <div id="my-carousel"class="carousel slide"data-ride="carousel">slide滑动
      <ol class="carousel-indicators">
        <li data-target="#my-carousel"class="active" data-slide-to="0"></li>
        <li data-target="#my-carousel"data-slide-to="1"></li>
        <li data-target="#my-carousel"data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner"role="listbox">
        <div class="item active">
          <img class="img-responsive"src="../WebSite1/Koala.jpg" />
          <div class="carousel-caption">图片一</div>
        </div>
        <div class="item">
          <img class="img-responsive" src="../WebSite1/Penguins.jpg"/>
          <div class="carousel-caption">图片二</div>
        </div>
        <div class="item">
          <img class="img-responsive" src="../WebSite1/Jellyfish.jpg"/>
          <div class="carousel-caption">图片三</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4 text-left">
    <h1 id="hnext">&gt;</h1>
  </div>
</div>
</div> -->